<nav>
	<ul id="mainNav">
    <li class="navTabs"><a href="/home"> Home </a></a></li>
    <li class="navTabs"><a href="/recipes"> Find Recipes </a></a></li>
	  <li class="navTabs"><a href="/recipes/saved"> Saved Recipes </a></a></li>
	  <li class="navTabs"><a href="/ingredients"> My Pantry </a></li>
    <li class="navTabs"><a href="/location/search">Change Location</a></li>
    <li class="navTabs2"><a href="/logout">Logout</a></li>

    
	</ul>
</nav>
  
  <!-- Show currently selected location. Example:
		Login | Recipes | Current Location: Kroger - Seaside (Change) | Ingredients
																^ clickable
  -->