#background-image {
    background-image: url("/img/login-background.jpg");
    background-size: cover;
    filter: blur(10px);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#login-card {
    background-color: rgba(202, 202, 202, .7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 100px 0px;
    padding: 20px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}