.site-header-section {
    background-color: rgba(202, 202, 202, .8);
    width: 100%;
    text-align: left;
    /* padding: 10px 20px; */
    /* font-family: "Sofia"; */
    color: rgb(0, 25, 166);
    font-size: 20px;
    display: flex;
    align-items: center;
    /* box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2); */
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(69, 69, 69);
}

.site-header {
    font-weight: 100;
    color: rgb(65, 65, 65);
}

.site-logo {
    height: 75px;
    margin: 0px 20px 0px 10px;
}

/* Center children horizontally and vertically */
.center-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Tell element to take up all available space */
.max-space {
    height: 100%;
    width: 100%;
}