<footer>
  <img id="logo" src="/img/logo.png" />
  <p>
    CST336 Internet Programming 2023ⓒ Orona, Thomas, Patel, Zheng<br>
    Final Project, Team 19.
    Created Only for Educational purpose only.
  </p>
</footer>