<nav>
	<ul id="mainNav">
	  <!-- <li class="active"><a href="createAccount"> Login </a></a></li> -->
	  <li class="navTabs"><a href="/recipes"> Recipes </a></a></li>
	  <li class="navTabs"><a href="/location/search"> Locations </a></a></li>
	  <li class="navTabs"><a href="/ingredients"> Ingredients </a></li>
		
		<li class="navTabs"><a href="">Logout</a></li>
	</ul>
  </nav>
  
  <!-- Show currently selected location. Example:
		Login | Recipes | Current Location: Kroger - Seaside (Change) | Ingredients
																^ clickable
  -->